<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.games.css">
</head>
<body>
    

    <section class="games">
        <div class="line"></div>
        <h2>WHAT <span> GAMES </span> I USED TO <span>PLAYED THE MOST?</span></h2>
        <div class="container horizontal-accordion">
            <!-- Card 1 -->
            <div class="card choice unset bg-dark text-white image-card image1 border-black fluid" onclick="toggleExpand(this)">
                <div class="upper-body">
                    <h2 class= "card-title"></h2>
                </div>
                <div class="lower-body">
                    <div class="collapsed-content">
                        <p class="card-description" style="margin-top: 110px;">CROSSFIRE</p>
                        <button type="button" class="btn btn-outline-light"> + </button>
                    </div>
                    <div class="expanded-content">
                        <p class="card-text">I remember playing this game when I was in my grade 6, 
                            where me and my friends go straight into computer shop to play this game 
                            and always fight with each other for always dying in shanxi in sniper mode.</p>
                        <button type="button" class="btn btn-outline-light">Learn More</button>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="card choice unset bg-dark text-white image-card image2 border-black fluid" onclick="toggleExpand(this)">
                <div class="upper-body">
                    <h2 class="card-title"></h2>
                </div>
                <div class="lower-body">
                    <div class="collapsed-content">
                        <p class="card-description" style="margin-top: 130px;">LEAGUE OF LEGENDS</p>
                        <button type="button" class="btn btn-outline-light"> + </button>
                    </div>
                    <div class="expanded-content">
                        <p class="card-text">League of Legends probably one of the games that lot of 
                            people played especially me when in my childhood where I even gamble with 
                            my friends to fight with another group to get money for lunch, and back then 
                            I was jungle who uses jax or xin zhao to win.</p>
                        <button type="button" class="btn btn-outline-light">Learn More</button>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="card choice unset bg-dark text-white image-card image3 border-black fluid" onclick="toggleExpand(this)">
                <div class="upper-body">
                    <h2 class="card-title"></h2>
                </div>
                <div class="lower-body">
                    <div class="collapsed-content">
                        <p class="card-description" style="margin-top: 140px;">VALORANT</p>
                        <button type="button" class="btn btn-outline-light"> + </button>
                    </div>
                    <div class="expanded-content">
                        <p class="card-text">This game is my recently game that I played the most, 
                            especially when pandemic where I played it morning to night to get into 
                            diamond where I have now, and ever since last year where my last play I 
                            was considered as good back then and since I'm busy now, I can't play it 
                            and wishing to play again.</p>
                        <button type="button" class="btn btn-outline-light">Learn More</button>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="card choice unset bg-dark text-white image-card image4 border-black" onclick="toggleExpand(this)">
                <div class="upper-body">
                    <h2 class="card-title"></h2>
                </div>
                <div class="lower-body">
                    <div class="collapsed-content">
                        <p class="card-description" style="margin-top: 140px;">CALL OF DUTY MOBILE</p>
                        <button type="button" class="btn btn-outline-light"> + </button>
                    </div>
                    <div class="expanded-content">
                        <p class="card-text">Now this game was very popular in pandemic, it was a game 
                            that I played the most since 2020 where I always play battle royale and has 
                            the record of 23-0-10 kills and 7 legendaries and in mp I had 11 or 9 
                            legendaries and my last play was in 2022 since the school year or face-to-face 
                            started.</p>
                        <button type="button" class="btn btn-outline-light">Learn More</button>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="card choice unset bg-dark text-white image-card image5 border-black" onclick="toggleExpand(this)">
                <div class="upper-body">
                    <h2 class="card-title"></h2>
                </div>
                <div class="lower-body">
                    <div class="collapsed-content">
                        <p class="card-description" style="margin-top: 160px;">CLASH OF CLANS</p>
                        <button type="button" class="btn btn-outline-light"> + </button>
                    </div>
                    <div class="expanded-content">
                        <p class="card-text">A very childhood memory of mind is the clash of clans, since 
                            grade 6 I was playing this game and I remember the COC back then was taking so 
                            seriously my clan mates are older than me like around 30+ and it is fun to be 
                            competitive with them especially when the clan war started, and note that I had 
                            3 more accounts of this where I had TH12, TH10, and TH9.</p>
                        <button type="button" class="btn btn-outline-light">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
            
    <script src="/assets/js/script.accordion.js" defer></script>
</body>
</html>