<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.slidergame.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
</head>
<body>

    <div class="game-area">
        <div class="line"></div>
        <div class="container"> 
            <h2>WHAT <span>GAMES</span> I USED TO <span>PLAY</span>?</h2>
            <section class="logo-area slider">
                <div class="slide"><img src="../assets/img/pics/valo-slide.png" alt="Valorant"></div>
                <div class="slide"><img src="../assets/img/pics/lol-logo.png" alt="League of Legends"></div>
                <div class="slide"><img src="../assets/img/pics/coc.png" alt="Clash of Clans"></div>
                <div class="slide"><img src="../assets/img/pics/crossfire.png" alt="Crossfire"></div>
                <div class="slide"><img src="../assets/img/pics/gta.png" alt="GTA"></div>
                <div class="slide"><img src="../assets/img/pics/ranph.png" alt="Ran Online"></div>
                <div class="slide"><img src="../assets/img/pics/warcraft.png" alt="Warcraft"></div>
                <div class="slide"><img src="../assets/img/pics/tekken.png" alt="Tekken"></div>
                <div class="slide"><img src="../assets/img/pics/half-life.png" alt="Half-Life"></div>
                <div class="slide"><img src="../assets/img/pics/cod-logo.png" alt="Call of Duty"></div>
            </section>
        </div>
    </div>  

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../assets/js/script.slickslider.js"></script>
</body>
</html>
