<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.about.css">
</head>
<body>

    <section id="about" >
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-lg-6 px-6 py-5">
                    <div class="text-card p-5 shadow">
                        <h6>ABOUT ME</h6>
                        <h2 class="fw-bold display-5 mb-3">Hi, I’m Amerel</h2>
                        <p>
                            I’m <span>21 years old</span> living in Pasig City, and currently a student of 
                            <span>Pamantasan ng Lungsod ng Pasig </span> with a degree of <span>Bachelor of Science 
                            in Information Technology</span>. Aspiring Developer that wants to learn 
                            something new  and strives for the best I can. With my mind of having 
                            a stable life so I don’t have to worry about playing videogames in the 
                            future. 
                        </p>
                    </div>

                    <div class="status-location">
                        <div>
                            <img src="/assets/img/pics/status.png" alt="Status" class="status-logo">
                            <span>Learning</span>
                        </div>
                        <div>
                            <img src="/assets/img/pics/loc-red.png" alt="Location" class="status-logo">
                            <span>Pasig City, Philippines</span>
                        </div>
                    </div>
    
                    <div class="social-icons mt-4">
                        <a href="https://www.instagram.com/bannarsh/" target="_blank">
                            <img src="/assets/img/pics/insta.png" alt="Instagram" class="social-logo">
                        </a>
                        <a href="https://www.facebook.com/amerel.mangontra.7/" target="_blank">
                            <img src="/assets/img/pics/fb.png" alt="Facebook" class="social-logo">
                        </a>
                        <a href="mailto:disomnongamerel@gmail.com">
                            <img src="/assets/img/pics/mail.png" alt="Gmail" class="social-logo">
                        </a>
                        
                    </div>
    
                    <a href="#" class="btn btn-dark service-btn mt-3">More about me</a>
                </div>
    
                <div class="col-lg-6 image-container rounded">
                    <div class="image-card">
                        <img src="/assets/img/pics/me-2.jpg" alt="image" class="img-fluid">
                    </div>
                </div>
        
            </div>
        </div>
    </section>
</body>
</html>